.login-container {
width: 350px;
background: white;
padding: 30px;
margin: 80px auto;
text-align: center;
border-radius: 12px;
box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.login-container h2 {
margin-bottom: 20px;
color: #333;
}

.login-form input {
width: 100%;
padding: 12px;
margin: 10px 0;
border: 1px solid #bbb;
border-radius: 8px;
font-size: 16px;
outline: none;
}

.login-form button {
width: 100%;
padding: 12px;
margin-top: 15px;
background: #646cff;
color: white;
border: none;
border-radius: 8px;
font-size: 18px;
cursor: pointer;
transition: 0.3s;
}

.login-form button:hover {
background: #4a50d8;
}